# ==============================
# PYTHON CACHE
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# ENTORNO VIRTUAL
# ==============================
venv/
env/

# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env

# ==============================
# LOGS
# ==============================
*.log
logs/

# ==============================
# BASE DE DATOS
# ==============================
*.db

# ==============================
# ARCHIVOS GENERADOS
# ==============================
data/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# PYTEST / COVERAGE
# ==============================
.pytest_cache/
.coverage
htmlcov/

# ==============================
# PYTHON BUILD
# ==============================
build/
dist/
*.egg-info/